<section id="title">

  <div class="container-fluid">
     <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        
        <a class="navbar-brand" href="">easyFY</a>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Contact</a>
            </li>
          </ul>
        </div>

      </nav>
    <!-- Title -->
        <h1>Welcome to easyFy</h1><br>
        <p class ="p1"> Coding is simple </p>
        <p class="p2">what you required is guidance through examples and step by step procedure</p>
  </div>

</section>
<section class="feature">
<div class="container">
<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column f_title">
      <h1>Algorithm</h1>
      <h1>Sorting</h1>
      <h1>Searching</h1>
    </div>     
  <div class="d-flex flex-column">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper eget duis at tellus. Cursus sit amet dictum sit amet justo donec enim diam. Mi sit amet mauris commodo quis imperdiet massa tincidunt.</p> 
      <button class="btn btn-outline-warning btn-lg">Explore</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper eget duis at tellus. Cursus sit amet dictum sit amet justo donec enim diam. Mi sit amet mauris commodo quis imperdiet massa tincidunt.</p>
      <button class="btn btn-outline-warning btn-lg">Explore</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper eget duis at tellus. Cursus sit amet dictum sit amet justo donec enim diam. Mi sit amet mauris commodo quis imperdiet massa tincidunt.</p>
      <button class="btn btn-outline-warning btn-lg">Explore</button>
  </div>
</div>
</div>
</section>

<section id="testimonials">
<p class="p1 p_1">Why easyFY ?</p>
<div id="testimonial-carousel" class="carousel slide" data-ride="false">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <h2>Coding is so much Fun. I love the Fact how simplified and effective code is.</h2>
      <img src="css/images/dog-img.jpg" class="testimonial-image" alt="dog-profile">
      <em>Pebbles, New York</em>
    </div>

    <div class="carousel-item">  
      <h2 class="testimonial-text">Before it was so difficult to come across a good coding website but now i think it just a click away thanks easyFy for such a good coding website.</h2>
      <img class="testimonial-image" src="css/images/lady-img.jpg" alt="lady-profile">
      <em>Beverly, Illinois</em> 
    </div>

  </div>
  <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</section>


<!-- Press -->

<section id="press">
<img class="press-logo" src="css/images/TechCrunch.png" alt="tc-logo">
<img class="press-logo" src="css/images/tnw.png" alt="tnw-logo">
<img class="press-logo" src="css/images/bizinsider.png" alt="biz-insider-logo">
<img class="press-logo" src="css/images/mashable.png" alt="mashable-logo">
</section>
